@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');

body {
    background: #FEFCF7;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

#main__header {
    padding-right: 80px;
    padding-left: 80px;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
}

.main__header__container {
    width: 1281px;
    height: 64px;
    padding-top: 35px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.main__header__img {
    width: 235px;
    height: 25px;
    margin-right: 760px;
}


.main__header__text1 {
    height: 15px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    margin-right: 33px;
}

.main__header__text2 {
    height: 15px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    margin-right: 33px;
}

.main__header__text3 {
    height: 15px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.main__header__block {
    display: flex;
}

.coffee__container {
    width: 1280px;
    height: 600px;
    background: url(../img/coffee_img.svg);
    margin-bottom: 123px;
}

.coffee__content {
    width: 493px;
    height: 367px;
    padding-top: 117px;
    margin-left: 85px;
}

.coffee__content__title {
    height: 145px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin-bottom: 32px;
}

.coffee__content__text {
    width: 417px;
    height: 78px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 56px;
}

.coffee__button {
    background: #0E8784;
    border-radius: 6px;
    border: 1px solid #0E8784;
    width: 217px;
    height: 56px;
}

.coffee__button__text {
    height: 25px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}

#collection {
    padding-right: 120px;
    padding-left: 165px;
}

.collection__container {
    width: 1111px;
    height: 524.55px;
    margin-bottom: 200px;
}

.collection__img {
    width: 1111px;
    height: 196px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.collection__container {
    position: relative;
}

.collection__type {
    position: absolute;
    width: 1111px;
    height: 398.55px;
}


.collection__type__item1__img {
    position: absolute;
    width: 255px;
    top: -77px;
    margin-bottom: 72px;
}

.collection__type__item1__title {
    position: absolute;
    height: 32px;
    left: 35px;
    right: 0%;
    top: 200px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin-bottom: 25px;
}

.collection__type__item1__text {
    position: absolute;
    left: 10px;
    right: 0%;
    top: 250px;
    bottom: 0%;
    width: 255px;
    height: 78px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    text-align: center;
}


.collection__type__item2 {
    width: 255px;
}

.collection__type__item2__img {
    position: absolute;
    width: 256px;
    height: 193px;
    left: 282px;
    top: -77px;
    margin-bottom: 72px;
}

.collection__type__item2__title {
    position: absolute;
    height: 32px;
    left: 355px;
    right: 0%;
    top: 200px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin-bottom: 24px;
}

.collection__type__item2__text {
    position: absolute;
    left: 285px;
    right: 0%;
    top: 250px;
    bottom: 0%;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
    width: 255px;
    height: 78px;
}

.collection__type__item3__img {
    position: absolute;
    width: 256px;
    height: 193px;
    left: 572px;
    top: -77px;
    margin-bottom: 72px;
}

.collection__type__item3 {
    width: 255px;
}

.collection__type__item3__title {
    position: absolute;
    height: 32px;
    left: 650px;
    right: 0%;
    top: 200px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.collection__type__item3__text {
    position: absolute;
    left: 595px;
    right: 0%;
    top: 250px;
    bottom: 0%;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    width: 255px;
    height: 78px;
    text-align: center;
}

.collection__type__item4 {
    width: 255px;
}

.collection__type__item4__img {
    position: absolute;
    width: 234.82px;
    height: 177.48px;
    left: 876px;
    top: -60px;
    margin-bottom: 72px;
}

.collection__type__item4__title {
    position: absolute;
    height: 32px;
    left: 935px;
    right: 0%;
    top: 200px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.collection__type__item4__text {
    width: 255px;
    height: 78px;
    position: absolute;
    left: 875px;
    right: 0%;
    top: 250px;
    bottom: 0%;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333D4B;
    text-align: center;
}

.choose__container {
    max-width: 1280px;
    margin-bottom: 200px;
}

.choose__top {
    padding: 100px 0;
    background-color: #2C343E;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.choose__title {
    height: 48px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 32px;
}

.choose__text {
    max-width: 540px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-align: center;
    margin: 0 auto;
}

.choose__list {
    max-width: 1111px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.choose__item-1 {
    max-width: 350px;
    background-color: #0E8784;
    border-radius: 8px;
    padding: 72px 48px 48px 47px;
    text-align: center;
    margin-right: 30px;
}

.choose__item-1::before {
    content: " ";
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-image: url(../img/choose__icon-1.svg);
    display: inline-block;
    margin-bottom: 56px;
}

.choose__item-1__title {
    height: 32px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 24px;
}

.choose__item-1__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}


.choose__item-2 {
    max-width: 350px;
    background-color: #0E8784;
    border-radius: 8px;
    padding: 72px 48px 48px 47px;
    text-align: center;
    margin-right: 30px;
}

.choose__item-2::before {
    content: " ";
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-image: url(../img/choose__icon2.svg);
    display: inline-block;
    margin-bottom: 56px;
}

.choose__item-2__title {
    height: 32px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 24px;
}

.choose__item-2__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}

.choose__item-3 {
    max-width: 350px;
    background-color: #0E8784;
    border-radius: 8px;
    padding: 83px 48px 48px 47px;
    text-align: center;
}

.choose__item-3::before {
    content: " ";
    width: 72px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../img/choose__icon3.svg);
    display: inline-block;
    margin-bottom: 67px;
}

.choose__item-3__title {
    height: 32px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.choose__item-3__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}


.choose__block {
    position: absolute;
    width: 100%;
    height: 244px;
    background-color: #2C343E;
    border-radius: 10px;
    z-index: -1;
    top: 309px;
}

.pass__container {
    padding-left: 85px;
    padding-right: 150px;
}

.pass__title {
    height: 32px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 80px;
}

.pass__block {
    position: relative;
}

.pass__line {
    display: flex;
    height: 31px;
    margin-bottom: 83px;
}

.pass__line-1 {
    position: absolute;
    left: 2.48%;
    top: 86.57%;
}

.pass__oval-2 {
    position: absolute;
    left: 36.36%;
    top: 76.82%;
}

.pass__line-2 {
    position: absolute;
    left: 39.09%;
    top: 86.57%;
}

.pass__oval-3 {
    position: absolute;
    left: 72.73%;
    top: 76.82%;
}

.pass__list {
    display: flex;
    margin-bottom: 64px;
}

.pass__item-1 {
    max-width: 285px;
    margin-right: 95px;
}

.pass__item-1__text {
    height: 72px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin-bottom: 38px;
}

.pass__item-1__title {
    width: 255px;
    height: 73px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 42px;
}

.pass__item-1__text-2 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.pass__item-2 {
    max-width: 285px;
    margin-right: 95px;
}

.pass__item-2__text {
    height: 72px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin-bottom: 41px;
}

.pass__item-2__title {
    height: 72px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    max-width: 255px3;
    margin-bottom: 40px;
}

.pass__item-2__text-2 {
    max-width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.pass__item-3 {
    max-width: 285px;
}

.pass__item-3__text {
    height: 72px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin-bottom: 38px;
}

.pass__item-3__title {
    height: 72px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 43px;
    max-width: 255px;
}

.pass__item-3__text-2 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    max-width: 285px;
}

.pass__button {
    width: 217px;
    height: 56px;
    background: #0E8784;
    border-radius: 6px;
    border: 1px solid #0E8784;
    cursor: pointer;
}

.pass__button__text {
    height: 25px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}

.pass__container {
    margin-bottom: 200px;
}


.footer__container {
    width: 1280px;
    height: 208px;
}

.footer__block {
    max-width: 1280px;
    height: 120px;
    background-color: #2C343E;
    display: flex;
}

.footer__content {
    display: flex;
    padding-left: 85px;
}

.footer__logo {
    width: 24px;
    height: 24px;
    margin-top: 48.44px;
}

.footer__logo-1 {
    margin-top: 47.44px;
    margin-right: 103px;
}

.footer_text {
    height: 15px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    margin-right: 33px;
    margin-top: 53.44px;
}

.footer_text-1 {
    height: 15px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    margin-right: 32px;
    margin-top: 53.44px;
}

.footer_text-2 {
    height: 15px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    margin-top: 53.44px;
}

.footer__home{
    display: flex;
    margin-right: 368px;
}

.footer__social{
    margin-top: 47px;
}